.app {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  block-size: 100vh;
  background-color: #2a3f31;
  overflow: hidden;
}

@media ( min-width: 1024px ) {
  .app {
    flex-flow: row-reverse;
  }
}

.app--clock {
  position: relative;
  inline-size: 90%;
  block-size: 90%;
}

.app--sun-wheel, .app--moon-wheel, .app--star-wheel, .app--marks {
  position: absolute;
}

.app--sun-wheel {
  inline-size: 100%;
  block-size: 100%;
}

.app--moon-wheel {
  inline-size: 100%;
  block-size: 100%;
}

.app--star-wheel {
  inline-size: 100%;
  block-size: 100%;
}

.app--marks {
  inline-size: 100%;
  block-size: 100%;
}

.app--marks > svg {
  position: absolute;
}

.app--time {
  font-size: 48px;
  inline-size: 250px;
  text-align: center;
  margin: 10px;
}
